@font-face{
  font-family: "ChunkFive-Regular";
  src: url(../fonts/ChunkFive-Regular.otf)
}

body{
  background-color: #151925; 
  margin-left: 5rem;
}
    
.portfolio-knapp{
margin-right: 50rem;
}


button, .knapp{
  font-weight: bold;
  font-size: large;
  background-color: #151925;
  color: white;

    margin-top: 2rem;
    border-radius: 10%;
    border: 0px;
    justify-content: space-between;
}

div, .setning{
    color: white;
}


.pitch-div{
  margin-top: 1rem;
}

.bilde-div{
  margin-top: 5rem;
  margin-left: 20rem;
  width: 40rem;
  height: 40rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.bilde{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

