
.portfolio-knapp{
margin-right: 50rem;
}
body{
  background-color: #151925; 
  margin-left: 5rem;
}
    
button, .knapp{
    margin-top: 2rem;
    border-radius: 10%;
    border: 0px;
    justify-content: space-between;
}

div, .setning{
    color: white;
}

.pitch-div{
  margin-top: 1rem;
}

.bilde{
   margin-right: 50rem;
}